## DICTIONARY

making dictionary that have key and there value we jsut wnat to usse curly brackets for using dictionary

In [11]:
dictionary ={
    "key": "value",
    "name" : "umar",
    "age" :     19 ,
    "marks": [ 90,99,99]
    
    }
dictionary["age"]=21
print(type(dictionary))
print(dictionary)
print(dictionary["name"])
print(dictionary["age"])

<class 'dict'>
{'key': 'value', 'name': 'umar', 'age': 21, 'marks': [90, 99, 99]}
umar
21

making nested dictionary means dictionary in dictionary

In [23]:
student = { 
    "name":"umar",
    "subjects" :{
        "math" :91,
        "scince":92 ,
        "eng": 90
            }
}
print(student ["subjects"]["math"])

91

Dictionary methods

In [ ]:
# all keys will pe peinted
print(student.keys()) 

# to count how many keys 
print(len(student))

# printing all values
print(student.values())

# printing all pairs
print(student.items())

# getting key avlue 
print(student.get("name"))
print(student.get("name2"))# no error if  name 2 deont exist 

# updating and asding value 
student.update({"city"  :"nanded"})
print(student)

dict_keys(['name', 'subjects', 'city'])
3
dict_values(['umar', {'math': 91, 'scince': 92, 'eng': 90}, 'nanded'])
dict_items([('name', 'umar'), ('subjects', {'math': 91, 'scince': 92, 'eng': 90}), ('city', 'nanded')])
umar
None
{'name': 'umar', 'subjects': {'math': 91, 'scince': 92, 'eng': 90}, 'city': 'nanded'}

## SETS

sets is collection of unordered items
each element in the set must be unique and immutable / but set is mutable 
we cant store list and dictionary in sets

In [47]:
collection={1,2,3,4,5,5, "world",9,"world",7} #it will ignore duplicates
print(collection)
print(type(collection))
print(len(collection))# this will also ignore duplicates
collection2=set()# empty set format
print(type(collection2))

{1, 2, 3, 4, 5, 'world', 7, 9}
<class 'set'>
8
<class 'set'>

methods of sets

In [ ]:
collection2.add(2)
collection2.add(3)
collection2.add(4)
collection2.add(5)
print(collection2)
collection2.remove(3)
print(collection2)
collection2.add((1,2,3,4))# can add tupple but not list
print(collection2)
print(len(collection2))
print(collection2.pop())# pop rnadom  item 


#  Special methods union and intersection 
print(collection2.union(collection)) # combine both sets value and return new total values without duplicates 
print(collection2.intersection(collection)) # combine both sets common value and return new total common values

{3, 2, 4, 5, (1, 2, 3, 4)}
{2, 4, 5, (1, 2, 3, 4)}
{2, 4, 5, (1, 2, 3, 4)}
4
2
{1, 2, 3, 4, 5, 'world', 7, 9, (1, 2, 3, 4)}
{4, 5}